---
layout: page
title: 'Health'
---

<div class="department-title">
  <h1>Department of Health</h1>
  <h2>
    Located in Municipal Annex<br>
    184 Park Avenue
  </h2>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card mb-4 department-card">
      <h5 class="card-header">Contact Info</h5>
      <div class="card-body">
        <p class="card-text">
          phone: 201-460-3020<br>
          fax: 201-460-3021<br>
          healthdept@rutherfordboronj.com
        </p>
        <p class="card-text">
          Hours<br>
          8:30–4:30
        </p>
        <p class="card-text">
          <span class="fw-bold">Department Head:</span> Jennifer Galarza, Health Official, Registrar of Vital
          Statistics<br>
          Mary Montoto, Secretary/Deputy Registrar of Vital Statistics<br>
          Janet Calhoun and Therese Hoff, Public Health Nurses
        </p>
      </div>
    </div>

    {% include department_links.html links=site.data.links.departments.health %}

    {% include news.html name="Health Department" posts=site.categories.health blocked_category="bergen-county" %}
  </div>

  <div class="col-md-8">
    <div class="card mb-4">
      <div class="card-body">
        <p class="card-text">
          We provide mandated public health services to the community.
        </p>
        <p class="card-text">
          The Rutherford Health Department is mandated under State Statute as outlined in “Public Health Practice Standards Of Performance For Local Boards Of Health In New Jersey” to provide a public health program to the residents of the Borough of Rutherford. These public health services are comprehensive and designed to promote and to protect the health and safety of our residents.
        </p>
        <p class="card-text">
          Under State Statute and outlined in more detail under Chapter 16 of the Borough Code, the Rutherford Board of Health was created on May 17, 1901 and consists of seven members appointed by the Mayor with the advice and consent of the Governing Body and serve three year terms. Said Board possesses all of the powers conferred and perform all the duties enjoined upon local Boards of Health in accordance with NJSA 26:3-1, et seq.
        </p>
      </div>
    </div>
  </div>
</div>
