---
layout: page
title: 'Health'
---

<div class="department-title">
  <h1>Department of Health</h1>
  <h2>
    Located in Municipal Annex<br>
    184 Park Avenue
  </h2>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card mb-4 department-card">
      <h5 class="card-header">Contact Info</h5>
      <div class="card-body">
        <p class="card-text">
          phone: 201-460-3020<br>
          fax: 201-460-3021<br>
          healthdept@rutherfordboronj.com
        </p>
        <p class="card-text">
          Hours<br>
          8:30–4:30
        </p>
        <p class="card-text">
          <span class="fw-bold">Department Head:</span> Jennifer Galarza, Health Official, Registrar of Vital
          Statistics<br>
          Mary Montoto, Secretary/Deputy Registrar of Vital Statistics<br>
          Janet Calhoun and Therese Hoff, Public Health Nurses
        </p>
      </div>
    </div>

    {% include department_links.html links=site.data.links.departments.health %}

    {% include news.html name="Health Department" posts=site.categories.health blocked_category="bergen-county" %}
  </div>

  <div class="col-md-8">
    <div class="card mb-4">
      <div class="card-body">
        <p class="card-text">
          We provide mandated public health services to the community.
        </p>
        <p class="card-text">
          Welcome to the Rutherford Health Department, where our mission is to promote, protect, and ensure the health and well-being of our community. We are committed to addressing the diverse public health needs of the Borough of Rutherford by working collaboratively with community partners to build a healthier and more resilient community.
        </p>
        <p class="card-text">
          The Rutherford Board of Health was established on May 17, 1901, and has been instrumental in shaping the public health landscape of our community. The Board consists of seven members and two alternate members appointed by the Mayor and Council. This experienced and dedicated group of individuals works tirelessly to guide and support our health initiatives.
        </p>
        <p class="card-text">
          OUR MISSION<br>
To prevent the spread of communicable diseases, to safeguard the health and equity of all people, and to offer efficient public health services and education to Rutherford residents.<br>
          <br>
          OUR VALUES<br>
Health Equity - We aspire for everyone in our community to have equitable access to health and wellness.<br> 
Transparency - 	We believe that we must be transparent about our decisions to the community we serve.<br>
Partnerships - We collaborate with different partners to achieve our mission.<br>
Innovation - We aspire to foster a collaborative atmosphere among our staff to inspire creativity while collaborating with other organizations in our community.<br>
Quality of Service -We are committed to the highest quality in our services.<br>
          <br>
        OUR GOALS<br>
        - Create a strong public health infrastructure that includes adequate funding, effective health education programs, an efficient online database, and a trained workforce that can assess and respond to public health needs.<br>

- Create a healthy community by providing information and resources through community outreach initiatives.<br>

- Provide the 10 Essential Public Health Services to our community.

        </p>
      </div>
    </div>
  </div>
</div>
