---
layout: interior-page
title: "FAQs and Permit Process"
parent: "Building Department"
---

<h1>FAQs</h1>

{% include faqs.html faqs=site.data.faqs.building-1 %}
{% include faqs.html faqs=site.data.faqs.building-2 %}

<h3 class="mt-4">Inspection Process &amp; Procedure:</h3>

<p>The inspections are as follows: (This is when you should call)</p>

<ul>
  <li><strong>Building:</strong> The bottom of <strong>footing</strong> trenches before placement of footing, except
    that
    in case of pile foundations, inspections shall be made in accordance with the requirements of the building subcode;
    <strong>Foundations</strong> and all walls up to grade level prior to back filling; All structural
    <strong>framing</strong> and connections prior to covering with finish or infill material;</li>

  <li><strong>Plumbing:</strong> Underground services, rough piping, water service, sewer, septic services and storm
    drains;</li>

  <li>
    <strong>Electrical:</strong> Rough wiring, panels and service installations; insulation installations;
  </li>

  <li><strong>Fire:</strong> Installations of indoor sprinkler systems, fire alarm systems (Smoke detectors), and oil
    tank removal.</li>

  <li><strong>Final:</strong> Installations of <strong>all finished materials,</strong> sealings of exterior joints;
    plumbing piping, trim and fixtures; electrical wiring, devices and fixtures; mechanical systems equipment.</li>
</ul>

<h3>Arranging inspection visits:</h3>

<p><strong>Please call the Construction Department between Monday – Friday 8:30 to 4:00 at (201) 460-3010</strong></p>

<p><strong>Please call at least 48 hours prior to the time the inspection is desired.</strong></p>

<p>Inspections will be performed within three business days of the time for which they are requested, unless otherwise
  notified. Ensure the inspections follow the correct order (for example, roughs come before framing). If the work does
  not conform to the approved plans, the inspector may issue a violation and a Stop Work Order may be posted until the
  problem is resolved. When the construction project is completed and all inspections have been conducted and approved,
  a Certificate of Approval or a Certificate of Occupancy will be issued. This is a formal document, which marks the
  completion of the project and gives you permission to occupy or use the space. You will now have completed the
  Construction Permit process. We look forward to seeing you prior to the start of your next project.</p>

<p>This chart is to show what work the dwelling owner can do.</p>

<div class="mb-4">
  <table id="construction-permit-table">
    <thead>
      <tr>
        <th rowspan=2>Type of Dwelling</th>
        <th colspan=2>Plumbing</th>
        <th colspan=2>HVACR</th>
        <th colspan=2>Electrical</th>
      </tr>
      <tr>
        <th>Plans</th>
        <th>Work</th>
        <th>Plans</th>
        <th>Work</th>
        <th>Plans</th>
        <th>Work</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1a. Single-family detached home; own and reside</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes*</td>
        <td>Yes*</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>1b. Single-family detached home; own but NOT reside</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
      </tr>
      <tr>
        <td>2a. Two-family detached home; own and reside</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>2b. Two-family detached home; own but NOT reside</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
      </tr>
      <tr>
        <td>3a. Attached single-family townhouse; own and reside</td>
        <td colspan=2>Yes if single sewer system; No if common sewer system.</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>3b. Attached single-family townhouse; own but NOT reside</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
      </tr>
      <tr>
        <td>4a. Unit in building of three or more dwellings; own and reside</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>4b. Unit in building of three or more dwellings; own but NOT reside</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
      </tr>
      <tr>
        <td></td>
        <td colspan=6>*Cannot do work that involves the use of chlorofluorocarbons (CFCs) or hydrochlorofluorocarbons
          (HCFCs)</td>
      </tr>
    </tbody>
  </table>
</div>