---
layout: default
title: '07070'
---

<div class="homepage-carousels">
  <div class="w-100 d-none d-lg-block" data-proofer-ignore>
    <div class="carousel slide carousel-fade">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/images/homepage/header_memorialdrone.jpg" height="1000" width="4000" class="img-fluid"
            alt="">
        </div>
        <div class="carousel-item">
          <img src="/static/images/homepage/header_parkavedrone.jpg" height="1000" width="4000" class="img-fluid"
            alt="">
        </div>
        <div class="carousel-item">
          <img src="/static/images/homepage/header_boroughhall.jpg" height="1000" width="4000" class="img-fluid"
            alt="">  
        </div>
        <div class="carousel-item">
          <img src="/static/images/homepage/header_streetview.jpg" height="1000" width="4000" class="img-fluid" alt="">
        </div>
        <div class="carousel-item">
          <img src="/static/images/homepage/header_train.jpg" height="1000" width="4000" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 d-block d-lg-none" data-proofer-ignore>
    <div class="carousel slide carousel-fade">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/images/homepage/header_memorialdrone_mobile.jpg" height="500" width="1500" class="img-fluid"
            alt="">
        </div>
        <div class="carousel-item">
          <img src="/static/images/homepage/header_parkavedrone_mobile.jpg" height="500" width="1500" class="img-fluid"
            alt="">
        </div>
        <div class="carousel-item">
          <img src="/static/images/homepage/header_streetview_mobile.jpg" height="500" width="1500" class="img-fluid"
            alt="">
        </div>
        <!--<div class="carousel-item">
        <img src="/static/images/homepage/header_train_mobile.jpg" height="500" width="1500" class="img-fluid" alt="">
      </div>-->
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 homepage-navbar">
    <div class="col d-flex justify-content-center py-1 py-md-2 py-lg-3">
      <a href="/departments/">Contact</a>
    </div>
    <div class="col d-flex justify-content-center py-1 py-md-2 py-lg-3">
      <a href="/forms-and-permits/">Forms</a>
    </div>
    <div class="col d-flex justify-content-center py-1 py-md-2 py-lg-3">
      <a href="/notifications/">Notify Me</a>
    </div>
    {% comment %}
    <div class="col d-flex justify-content-center py-1 py-md-2 py-lg-3">
      <a href="/how-do-i/">How Do I…</a>
    </div>
    {% endcomment %}
    <div class="col d-flex justify-content-center py-1 py-md-2 py-lg-3">
      <a href="/departments/borough-clerk/minutes-and-agendas/">Minutes & Agendas</a>
    </div>
    <div class="col d-flex justify-content-center py-1 py-md-2 py-lg-3">
      <a href="/borough-codes-ordinances/">Codes & Ordinances</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center g-1 mt-2 mb-4">
    <div class="col col-auto">Rutherford Borough Hall • 176 Park Ave</div>
    <div class="col col-auto d-none d-md-block">•</div>
    <div class="col col-auto">Rutherford, NJ 07070 • 201-460-3000</div>
  </div>

  <div class="row row-cols-1 row-cols-md-2">
    
    <div class="col order-md-last">
      <div class="card mb-4 border-2 homepage-borough-calendar homepage-button">
        <div class="card-body d-flex justify-content-center fs-2">
          <a href="/calendars/" class="fw-bold stretched-link">Borough Calendar</a>
        </div>
      </div>
      {% include upcoming_event_button.html %}
      <div class="card mb-4 border-2 homepage-online-tax-payments homepage-button">
        <div class="card-body d-flex justify-content-center fs-2">
          <a href="https://www.cit-e.net/rutherford-nj/cn/TaxBill_Std/?tpid=15571" class="fw-bold stretched-link">Online
            Tax Payments</a>
        </div>
      </div>
      <div class="card mb-4 border-2 homepage-quick-links">
        <div class="card-body">
          <h2 class="card-header mb-4">Quick Links</h2>
          <ul class="list-group">
            <li class="list-group-item"><a class="d-block fs-3 mb-2 ps-3"
             href="https://www.youtube.com/c/BoroughHall/featured">Livestreamed Mayor & Council Meetings</a></li>
             <li class="list-group-item"><a class="d-block fs-3 mb-2 ps-3" href="/departments/borough-clerk/election-voter-info/">Election Information</a></li>  
            <li class="list-group-item"><a class="d-block fs-3 mb-2 ps-3" href="/farmers-market/">2023 Farmers Market</a>
            </li>
            <li class="list-group-item"><a class="d-block fs-3 mb-2 ps-3" href="/resident-info/">Resident Services</a>
            </li>
            <li class="list-group-item"><a class="d-block fs-3 mb-2 ps-3" href="/resident-info/newsletters/">Newsletter
                Archives</a></li>
            <li class="list-group-item"><a class="d-block fs-3 mb-2 ps-3" href="/public-safety/">Public Safety</a></li>
            <li class="list-group-item"><a class="d-block fs-3 mb-2 ps-3" href="https://rutherfordnj.town/">Chamber of Commerce</a></li>
            <li class="list-group-item"><a class="d-block fs-3 mb-2 ps-3" href="/government/employment-bids/">Employment
                and Bids</a></li>
            <li class="list-group-item"><a class="d-block fs-3 mb-2 ps-3" href="/land-use-redevelopment/">Land Use &
                Redevelopment</a></li>
            <li class="list-group-item"><a class="d-block fs-3 mb-2 ps-3"
                href="/departments/public-works/collection-schedule/">Sanitation Collection</a></li>
            <li class="list-group-item"><a class="d-block fs-3 mb-2 ps-3" href="/departments/police/">Police</a></li>
            <li class="list-group-item"><a class="d-block fs-3 mb-2 ps-3" href="/departments/recreation/">Recreation</a>
            </li>
            <li class="list-group-item"><a class="d-block fs-3 mb-2 ps-3" href="/roadwork-in-rutherford/">Road Work Projects</a></li> 
            <li class="list-group-item"><a class="d-block fs-3 mb-2 ps-3" href="/special-presentations/">Special Presentations</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col order-md-1">
      <div class="card mb-4 border-2">
        <div class="card-body homepage-carousels">
          <div id="carouselImageButtons" class="carousel carousel-dark slide">
            <div class="carousel-inner">
              {% for button in site.data.homepage-buttons %}
              <div class="carousel-item{% if forloop.first %} active{% endif %}">
                <a href="{{ button.link }}">
                  <img class="d-block w-100" src="{{ button.image }}" alt="{{ button.alt }}">
                </a>
              </div>
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselImageButtons"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselImageButtons"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

      <link rel="stylesheet" href="/static/vendor/mastodon-embed-feed-timeline-master/src/mastodon-timeline.css?zx={{ "now" | date: "%s" }}'" />
      <script src="/static/vendor/mastodon-embed-feed-timeline-master/src/mastodon-timeline.js?zx={{ "now" | date: "%s" }}'"></script>
      <div class="card mb-4 border-2">
        <div class="card-body">
          <div class="mt-timeline">
            <div id="mt-body" class="mt-body" role="feed">
              <div class="loading-spinner"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
