---
layout: page
title: News Archives
---

<h2>News Archive</h2>
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if forloop.first %}
    {% capture lyear %}{{ post.date | date: '%Y' }}{% endcapture %}
    <h3>{{ post.date | date: '%Y' }}</h3>
  {% endif %}
  {% if year != lyear %}
    <h3>{{ post.date | date: '%Y' }}</h3>
  {% endif %}
  {% if post.categories contains 'bergen-county' %}
    {% continue %}
  {% else %}
  <div class="page-post-link">
    {% for category in post.categories %}
      {% if category != 'departments' and category != 'community-events' and category != 'bergen-county' %}
        <img alt="{{category}} post" class="page-post-icon" src="/departments/{{category}}/icon.png" />
      {% endif %}
      {% if category == 'community-events' %}
        <img alt="community events post" class="page-post-icon" src="/community-events/icon.png" />
      {% endif %}
    {% endfor %}
    <div>{{ post.date | date:"%b %d" }} - <a href="{{ post.url }}">{{ post.title }}</a></div>
  </div>
  {% endif %}
  {% capture lyear %}{{ post.date | date: '%Y' }}{% endcapture %}
{% endfor %}
