---
layout: page
title: News Archives
---

<h2>News Archive</h2>
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if forloop.first %}
    {% capture lyear %}{{ post.date | date: '%Y' }}{% endcapture %}
    <h3>{{ post.date | date: '%Y' }}</h3>
  {% endif %}
  {% if year != lyear %}
    <h3>{{ post.date | date: '%Y' }}</h3>
  {% endif %}
  <div class="page-post-link">
    {% include post_link.html post=post post_date=post.date %}
  </div>
  {% capture lyear %}{{ post.date | date: '%Y' }}{% endcapture %}
{% endfor %}
