---
layout: page
title: 'Fire Safety'
---

<div class="department-title">
  <h1>Bureau of Fire Safety</h1>
  <h2>
    Located in Borough Hall<br>
    176 Park Avenue, Lower Level
  </h2>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card mb-4 department-card">
      <h5 class="card-header">Contact Info</h5>
      <div class="card-body">
        <p class="card-text">
          phone: 201-460-3011<br>
          fax: 201-460-6120<br>
          firesafety@rutherfordboronj.com<br>
          <span class="fw-bold">Emergency: Dial 911</span>
        </p>
        <p class="card-text">
          Hours<br>
          8:30–4:30
        </p>
        <p class="card-text">
          <span class="fw-bold">Department Head:</span> Paul T. Dansbach, Fire Marshal<br>
          John Melfa, Fire Inspector/Fire Signal Technician<br>
          Michael Hook, Fire Inspector<br>
          Susan Fujii, Clerk
        </p>
      </div>
    </div>

    {% include department_links.html links=site.data.links.departments.fire-safety %}
    {% include news.html name="Fire Safety" posts=site.categories.fire-safety %}
  </div>

  <div class="col-md-8">
    <div class="card mb-4">
      <div class="card-body">
        <p class="card-text">
          <span class="fw-bold">Call 9-1-1 to report all fires or emergencies.</span> You may contact the Bureau of Fire
          Safety Monday through Friday 8:30 AM to 4:30 PM for non-emergency services. For services after hours you may
          call Rutherford Police Department at 201-939-6000 and ask for notification to the Fire Marshal or a Fire
          Inspector.
        </p>
        <p class="card-text">
          The Bureau of Fire Safety's primary responsibility is the enforcement of the NJ Uniform Fire Code in all
          commercial and multi-family buildings. The Bureau of Fire Safety is also responsible for the cause and origin
          investigation of all fires that occur and coordination of any serious fires that occur with other cooperating
          departments and agencies.
        </p>
        <p class="card-text">
          Other responsibilities include administration of the Fire Department's Knox-Box entry system, completing all
          fire incidents reports and filing all NFIRS reports with the NJ State Fire Marshal's Office. Site plan reviews
          of all proposed construction projects are completed and reviewed with the Fire Department, comments and
          conditions are recommended to local Planning and Zoning Boards.
        </p>
        <p class="card-text">
          The Bureau of Fire Safety investigates all complaints received from civilians and other borough departments
          and outside agencies and appropriate enforcement action is initiated when fire code violations are discovered.
        </p>
        <p class="card-text">
          It is also the responsibility of the Bureau of Fire Safety to maintain the Borough's Municipal Fire Alarm
          Signal System (Gamewell Signal System). This system continues to provide the most direct means of transmitting
          fire alarm signals from protected buildings to the Fire Department point of dispatch (Police Headquarters).
          All borough owned buildings, all schools, all Felician University campus buildings and numerous commercial and
          multi-family buildings are connected to this system. This system provides a significant cost savings to those
          property owners utilizing the system.
        </p>
      </div>
    </div>
  </div>
</div>
