---
layout: page
title: 'Police'
---

<div class="department-title">
  <h1>Police Department</h1>
  <h2>
    Located at 18 Donaldson Avenue
  </h2>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card mb-4 department-card">
      <h5 class="card-header">Contact Info</h5>
      <div class="card-body">
        <p class="card-text">
          phone: 201-939-6000<br>
          fax: 201-460-3055<br>
          <span class="fw-bold">Emergency: Dial 911</span>
        </p>
        <p class="card-text">
          Hours: 24/7
        </p>
        <p class="card-text">
          <span class="fw-bold">Chief of Police: John R. Russo</span>
        </p>
        <ul class="list-group">
          <li class="list-group-item"><a href="https://nextdoor.com/agency-detail/nj/rutherford/rutherford-police-department/">Nextdoor</a></li>
          <li class="list-group-item"><a href="https://www.instagram.com/rutherfordpdnj/?hl=en/">Instagram: @Rutherfordpdnj</a></li>
          <li class="list-group-item"><a href="https://twitter.com/RutherfordPDNJ">Twitter: @RutherfordPDNJ</a></li>
          <li class="list-group-item"><a href="https://www.facebook.com/RutherfordPDNJ">Facebook: @RutherfordPDNJ</a></li>
        </ul>
      </div>
    </div>
    {% include department_links.html links=site.data.links.departments.police %}
    {% include news.html name="Police" posts=site.categories.police %}
  </div>

  <div class="col-md-8">
    <div class="card mb-4">
      <div class="card-body">
        <p class="card-text">
          <img src="/public-safety/PoliceBadge85px.jpg" alt="Police Badge" />
        </p>
        <p class="card-text">
          The Rutherford Police Department has committed itself to the protection of constitutional and civil rights of
          all
          men and women. In doing so, we have established a set of core values to include integrity, professionalism,
          dedication, and accountability. We will continually strive to achieve excellence in all we do.
        </p>
        <p class="card-text">
          Our priorities shall include the protection of life, liberty, and property to ensure all Borough residents and
          visitors experience a quality of life second to none. We shall stress the importance of partnerships among
          those in
          our community to assist us in allocating our resources in an effective and efficient manner.
        </p>
        <p class="card-text">
          As law enforcement officers, members of the Rutherford Police Department have sworn to uphold our laws with
          paramount diligence to the equality of all of those we encounter. We shall be courageous, ethical, and
          respectful in
          your time of need.
        </p>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-body">
        {% include twitter.html username="RutherfordPDNJ" %}
      </div>
    </div>
  </div>
</div>
