---
layout: page
title: 'Green Team'
---

<div class="department-title">
  <h1>Green Team</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-body">
        <p class="card-text">
          Meets 2nd Wednesday of the Month<br>
          7:00 pm<br>
          2nd Floor of Borough Hall - Red Room
        </p>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-body">
        <p class="card-text">
          <span class="fw-bold">Council Liaison:</span> Ray Guzmán<br>
          <span class="fw-bold">Co-Chairwoman:</span> Eileen Eastham<br>
          <span class="fw-bold">Co-Chairwoman:</span> Julia Siegel
        </p>
        <p class="card-text">
          <span class="fw-bold">Members:</span><br>
          Cynthia Chovan Dalton, Secretary<br>
          Chuck Eastham<br>
          Brian Hanson-Harding<br>
          Greg Recine<br>
          Brianna Nema<br>
          Karen Travellin<br>
          Carol Hsu<br>
          Alethia Gomez<br>
          email: greenteam@rutherfordboronj.com
        </p>
      </div>
    </div>
    {% include department_links.html links=site.data.links.departments.green-team %}
    {% include news.html name="Green Team" posts=site.posts include_only_category="green-team" tag="green-team" %}
  </div>
  <div class="col-md-8">
    <div class="card mb-4">
      <div class="card-body">
        <p class="card-text">
          The Rutherford Green Team is a Borough appointed Committee that has been tasked with advising the Borough on
          wide-ranging Sustainability issues facing the community. Rutherford has been a Sustainable Jersey Certified
          Community since 2009 – a rigorous rating that measures a community’s engagement and commitment to creating
          sustainable environment through their actions, programs and outreach. The Green Team is made of up appointed
          Volunteers and relies heavily on community participation in its various programs and advocacy. The Green Team
          has focused on the following key areas of advisement and engagement within the Borough:
        </p>
        <p class="card-text"><span class="fw-bold"> • Waste & Resource Reduction</span><br>
          Waste is an issue economically as well as environmentally. The amount of waste generated in our community
          is tremendous, and there are more and more challenges in finding viable markets for recyclables. The Green
          Team has been working on education and legislative issues to find solutions to reduce the amount of waste
          generated through the promotion of re-use – whether that be through composting food and yard waste, cut it and
          leave it landscaping, fix-it events, limiting single-use items and promoting reusable food/beverage items,
          shopping or delivery bags. For those items that cannot be reused, the Green Team has sought to improve
          communication of current recycling programs available through the Borough, County and surrounding Community
          including the promotion of safe disposal of drugs and medications.
        </p>
        <p class="card-text"><span class="fw-bold"> • Complete Streets & Bike Advocacy</span><br>
          The Green Team advocated the Borough the adoption of a Complete Streets policy that was adopted on March
          22, 2011. The policy requires that all modes of transportation and mobility be considered during the safe
          planning of road and sidewalk improvements whether that be walking, biking, public transit or motorized means.
          In 2014 a Pedestrian and Bicycle Plan was completed that identified improvements that could be made to Borough
          Streets, several of which have now been adopted including bike lanes, improved cross walks and improved
          visibility at intersections.
        </p>
        <p class="card-text"> The Green Team also focused our attention on making sure there were Safe Routes to
          Schools, educating our children through annual 3rd Grade Bike Rodeos and promoting wider community safe
          bicycling through monthly escorted recreational rides.
        </p>
        <p class="card-text"><span class="fw-bold"> • Connection to Nature</span><br>
          One of the earliest initiatives the Green Team took on was the creation of a Community Garden located
          along Erie Ave at Grand Ave adjacent to the Katie’s Corner playground. The garden was a vision of local
          residents that wanted to see the abandoned land site of the old Rail Station turned into a vibrant garden.
          With demonstrations of green roofs, rain barrels, backyard composting and native pollinator friendly
          plantings, the community garden is an inviting outdoor classroom.
          Just East of the Garden, the Green Team partnered with the then Shade Tree Committee to create a Street Tree
          nursery at first raising trees from whips to now staging young trees before planting around town. When weed
          control became an issue the Green Team helped find non-toxic alternative herbicides that the DPW now has begun
          to use at other sensitive locations around town.
          The Green Team regularly partners on educational outreach efforts with the Shade Tree Commission on meeting
          the goals and objectives of Rutherford’s Community Forestry Plan and helped advocate for the Borough’s pledge
          to support NJ Wildlife Action plan.
        </p>
        <p class="card-text"><span class="fw-bold"> • Climate & Energy</span><br>
          With rising global temperatures, more frequent severe weather events and limited and finite natural
          resources, focusing on sustainable use of water and energy along with preparation for extreme weather is
          important. The Green Team hosts educational opportunities for residents, businesses and Borough officials
          around Green Infrastructure and StormWater Management, energy and water conservation, renewable energy
          production, electric vehicles, and extreme weather event planning including identifying vulnerable
          populations.
        </p>
        <p class="card-text"><span class="fw-bold"> • Community Health & Wellness</span><br>
          A Sustainable Community incorporates environmental, economic and socially equitable issues into planning,
          operations and investments. For the Green Team, this has meant advising, encouraging and working together with
          other Borough departments and committees as well as the greater community at large. Examples of this include
          the Mayor’s Wellness Campaign, Safe Routes to School, Town-wide cleanup day, Lead Education, and business
          community outreach.
        </p>
        <p class="card-text"><span class="fw-bold"> • Find out More</span><br>
          The Green Team meets monthly on the second Wednesday at 7pm at Borough Hall 2nd floor Red Room. The
          meetings are open to the public. Subscribe to our <a
            href="https://rutherfordgreenteam.us13.list-manage.com/subscribe?u=6c64824e101044cb88e049a6e&id=9600eda580">mailing
            list</a>, follow us on social media or check back here for the latest news and events about the Rutherford
          Green Team.
        </p>
        {% include twitter.html username="RuthNJGreenTeam" %}
      </div>
    </div>
  </div>
</div>
