---
layout: page
title: 'Social Services'
---

<div class="department-title">
  <h1>Department of Social Services</h1>
  <h2>
    Located in Borough Hall<br>
    176 Park Avenue, Lower Level
  </h2>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card mb-4 department-card">
      <h5 class="card-header">Contact Info</h5>
      <div class="card-body">
        <p class="card-text">
          phone: 201-460-3028<br>
          fax: 201-460-3029<br>
          socialservices@rutherfordboronj.com
        </p>
        <p class="card-text">
          Hours: 8:30 – 4:30
        </p>
        <p class="card-text">
          <span class="fw-bold">Department Head:</span> Genevieve Kacmarcik, MSW, MBA
        </p>
      </div>
    </div>
    {% include department_links.html links=site.data.links.departments.social-services %}
    {% include news.html name="Social Services" posts=site.categories.social-services %}
  </div>

  <div class="col-md-8">
    <div class="card mb-4">
      <div class="card-body">
        <p class="card-text">
          Please call to make an appointment.
        </p>
        <p class="card-text">
          This department provides the N.J. State WorkFirst NJ General Assistance Program to assist Rutherford residents
          over 18 years of age who have no income and very limited resources.
        </p>
        <p class="card-text">
          This office also manages an active Social Services Program offering referrals to State, County, and
          Local agencies to meet the needs of residents who are struggling due to illness and hardship.
        </p>
        <p class="card-text">
          Services are provided without regard to race, color, sex, religious creed, marital or birth status,
          national origin or political beliefs.
        </p>
      </div>
    </div>
  </div>
</div>
