{% for post in include.posts %}
  {% for blocked_category in include.blocked_categories %}
    {% if post.categories contains blocked_category %}{% continue %}{% endif %}
  {% endfor %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if forloop.first %}
    {% capture lyear %}{{ post.date | date: '%Y' }}{% endcapture %}
    <h3>{{ post.date | date: '%Y' }}</h3>
    <ul>
  {% endif %}
  {% if year != lyear %}
    </ul>
    <h3>{{ post.date | date: '%Y' }}</h3>
    <ul>
  {% endif %}
  <li>{{ post.date | date:"%b %d" }} - <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% capture lyear %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if forloop.last %}
    </ul>
  {% endif %}
{% endfor %}
