<div id="ie11-warning" style="background-color: red; display: none; font-size: 120%; padding: 1em; width: 100%;">
  <a
    href="https://blogs.windows.com/windowsexperience/2021/05/19/the-future-of-internet-explorer-on-windows-10-is-in-microsoft-edge/">Internet
    Explorer is no longer supported by Microsoft</a>.
  Many features of this site will not work while using Internet Explorer.
  <br>
  Please upgrade to a new browser:
  <a href="https://www.google.com/chrome/">Google Chrome</a>,
  <a href="https://www.microsoft.com/en-us/edge">Microsft Edge</a>,
  or <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>.
</div>
<script>
  if (/Trident\/|MSIE/.test(window.navigator.userAgent)) {
    document.getElementById('ie11-warning').style.display = 'block';
  }
</script>