<div class="page-news-and-updates">
  <div>{{ include.name }}<br/>News &amp; Updates</div>
  <div class="page-post-links">
  {% assign count = 0 %}
  {% for post in include.posts %}
    {% if post.categories contains include.blocked_category %}{% continue %}{% endif %}
    <div class="page-post-link">
      <div class="page-post-title">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </div>
    </div>
    {% assign count = count | plus: 1 %}
    {% if count == 5 %}{% break %}{% endif %}
  {% endfor %}
  </div>
  <div><a href="archive/">Click here for news archives</a></div>
</div>
