<div class="card mb-4">
  <h5 class="card-header">{{ include.name }}<br />News &amp; Updates</h5>
  <div class="card-body">
    <ul class="list-group">
    {% assign count = 0 %}
    {% for post in include.posts %}
      {% if post.categories contains include.blocked_category %}{% continue %}{% endif %}
      {% assign should_include = 0 %}
      {% if include.include_only_category %}
        {% if post.categories contains include.include_only_category %}
          {% assign should_include = should_include | plus: 1 %}
        {% endif %}
      {% endif %}
      {% if include.tag %}
        {% if post.tag == include.tag %}
          {% assign should_include = should_include | plus: 1 %}
        {% endif %}
      {% endif %}
      {% if include.include_only_category %}{% if should_include == 0 %}{% continue %}{% endif %}{% endif %}
      {% if include.tag %}{% if should_include == 0 %}{% continue %}{% endif %}{% endif %}
      <li class="list-group-item"><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% assign count = count | plus: 1 %}
      {% if count == 10 %}{% break %}{% endif %}
    {% endfor %}
  </ul>
  </div>
  <div class="card-footer text-muted">
    <a href="archive/">News Archives</a>
  </div>
</div>