<div class="social">
<span class="Facebook">
  <div class="fb-share-button" data-layout="button"></div>
</span>
<span class="twitter">
  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</span>
</div>
<style>
    /* This gets Facebook to fall into place */
.social iframe {
    vertical-align: bottom;
}

/* Set an optional width for your button wrappers */
.social span {
    display: inline-block;
}
</style>
