---
layout: page
title: 'Tax Collector'
---

<div class="department-title">
  <h1>Department of Tax Collector</h1>
  <h2>
    Located in Borough Hall<br>
    176 Park Avenue, Ground Floor
  </h2>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card mb-4 department-card">
      <h5 class="card-header">Contact Info</h5>
      <div class="card-body">
        <p class="card-text">
          phone: 201-460-3005<br>
          fax: 201-460-3008<br>
          cmiller@rutherfordboronj.com
        </p>
        <p class="card-text">
          Hours: 8:30 – 4:30
        </p>
        <p class="card-text">
          <span class="fw-bold">Department Head:</span> Caryn Miller, Tax Collector<br>
          Bernadette Finelli, Tax Cashier
        </p>
      </div>
    </div>
    {% include department_links.html links=site.data.links.departments.tax-collector %}
    {% include news.html name="Tax Collector" posts=site.categories.tax-collector %}
  </div>

  <div class="col-md-8">
    <div class="card mb-4">
      <div class="card-body">
        <p class="card-text">
          The Tax Collector’s Office is responsible for the billing and collection of taxes.
        </p>
        <p class="card-text">
          A <span class="fw-bold">Drop Box</span> is available at Borough Hall, on the Donaldson Avenue side of the
          building. Payments will only be received for the TAX COLLECTOR, BOROUGH CLERK and BUREAU of FIRE SAFETY. <span
            class="fw-bold">Make checks payable to Borough of Rutherford</span> <span class="fw-bold">CHECKS ONLY for your safety, NO CASH.</span> Payments received after 4:00             pm will be posted on the next business day and interest, if applicable, will accrue as of that next business day.
        </p>
  
        <p class="card-text">
          <span class="fw-bold">Quarterly Tax Payments Become Due:</span>
        <ul>
          <li>February 1</li>
          <li>May 1</li>
          <li>August 1</li>
          <li>November 1</li>
        </ul>
        </p>
          <p class="card-text">
          <span class="fw-bold">Postmark is not accepted as a payment date,</span> the payment date is the date that the payment is received in the Tax Collector's office, as per New Jersey State Law. <span class="fw-bold">NO POSTDATED CHECKS WILL BE ACCEPTED.</span>
        </p>
        <p class="card-text">
          There is a ten day grace period each quarter; up to and including the 10th. Should the 10th fall on a weekend
          or a holiday, payments will be accepted the next business day without interest. The tax payment must be
          received within the designated grace period; if a payment is received after the grace period, interest is
          retroactive to the first day of the quarter. For the correct amount due, please contact our office at
          201-460-3005.
        </p>
        <p class="card-text">
          It is the property owner’s responsibility to maintain records regarding the payment of property taxes.
          Receipted tax bills or cancelled checks are proof of payment.
          Tax bills will not be issued when property ownership is transferred. It is the responsibility of the property
          owner to be aware of tax payment amounts and due dates. Individuals transferring property are requested to
          turn over the tax bill to the new owner at time of title transfer.
        </p>
          <p class="card-text">
          <span class="fw-bold">NJ State Statute: NJSA 54:4-64</span> The validity of any tax or assessment, or the time at which it shall be payable, shall not be affected by the failure of a taxpayer to receive a tax bill, but every taxpayer is put on notice to ascertain from the proper official of the taxing district the amount which may be due for taxes or assessments against him or his property.</span>
        </p>
        <p class="card-text">
          <span class="fw-bold">Payments may be mailed to:</span><br>
          Tax Collector – Borough Hall<br>
          176 Park Avenue<br>
          Rutherford, NJ 07070
        </p>
      </div>
    </div>
  </div>
</div>
