.blog-container {
  margin: 30px;
}
.blog-content {
  line-height: 1.5;
  width: 70%;
}
.blog-icon {
  float: right;
  height: 99px;
  width: 150px;
}
.blog-title {
  color: #036;
  font-size: 250%;
  font-weight: 700;
  text-transform: uppercase;
}
.blog-date {
  color: #767676;
  text-transform: uppercase;
}
