body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a, a:visited, a:hover, a:active {
  color: #036;
}

h2 {
  color: #767676;
}

#dynamic-field {
  color: white;
  font-size: 200%;
  text-align: center;
}

.dynamic-message-emergency {
  background: red;
}

.dynamic-message-update {
  background: #D90;
}

.header {
  background-color: #0F3B66;
  min-width: 1020px;
  padding-top: 21px;
}

.header-transition {
  background: #0f3b66;
  background: linear-gradient(270deg,#0f3b66 0%, #040000 100%);
  background: -webkit-linear-gradient(270deg,#0f3b66 0%, #040000 100%);
  background: -moz-linear-gradient(270deg,#0f3b66 0%, #040000 100%);
  height: 15px;
}

.header-container {
  height: 116px;
  margin: auto;
  width: 1000px;
}

.header-right {
  float: right;
  height: 100%;
  position: relative;
  width: 497px;
}

.header-search {
  float: right;
}

.site-container {
  background: url("/static/images/website-background.jpg") no-repeat top center, #040000;
  min-height: 800px;
}

.content-container {
  background: white;
  margin: auto;
  padding: 10px;
  min-height: 800px;
  width: 1000px;
}

.content-container:after {
  clear: both;
  content: "";
  display: table;
}

.hover-table td {
  border-bottom: 1px solid #CCC;
  padding: 10px;
}

.hover-table tbody > tr:hover {
  background-color: #F5F5F5;
}

.hover-table {
  border-spacing: 0;
}
