body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a, a:visited, a:hover, a:active {
  color: #036;
}

h2 {
  color: #999;
}

.header {
  border-bottom: 8px solid #EEE;
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.5);
  margin-bottom: 10px;
  min-width: 1020px;
  padding-top: 21px;
}

.header-container {
  height: 116px;
  margin: auto;
  width: 1000px;
}

.header-right {
  float: right;
  height: 100%;
  position: relative;
  width: 497px;
}

.header-search {
  float: right;
}

.site-container {
  background: url("/static/images/website-background.jpg") no-repeat top center;
  min-height: 800px;
}

.content-container {
  background: white;
  box-shadow: 0px 10px 20px 1px rgba(184,184,184,1);
  margin: auto;
  padding: 10px;
  min-height: 800px;
  width: 1000px;
}

.content-container:after {
  clear: both;
  content: "";
  display: table;
}

.hover-table td {
  border-bottom: 1px solid #CCC;
  padding: 10px;
}

.hover-table tbody > tr:hover {
  background-color: #F5F5F5;
}

.hover-table {
  border-spacing: 0;
}
