html {
  background: #040000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-height: 100vh;
}

h1 {
  display: inline;
}

h2 {
  color: #767676;
}

a, a:visited, a:hover, a:active {
  color: #036;
}

#dynamic-field {
  color: white;
  font-size: 200%;
  text-align: center;
}

.dynamic-message-emergency {
  background: red;
}

.dynamic-message-update {
  background: #D90;
}

.site-container {
  background: url("/static/images/website-background.jpg") no-repeat top center, #040000;
  min-height: calc(100vh - 152px);
}

.content-container {
  background: white;
  margin: auto;
  padding: 10px;
  min-height: 800px;
  width: 1000px;
  
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}
