html {
  background: $main-bg-color;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-height: 100vh;
}

h1 {
  display: inline;
}

h2 {
  color: $main-gray;
}

a, a:visited, a:hover, a:active {
  color: $main-dark-blue;
}

#dynamic-field {
  color: #FFF;
  font-size: 2em;
  text-align: center;

  @media screen and (max-width: $breakpoint) {
    font-size: 1.4em;
    padding: 0 4px;
  }
}

.dynamic-message-emergency {
  background: red;
}

.dynamic-message-update {
  background: #D90;
}

.site-container {
  min-height: calc(100vh - 152px);
}

.webp .site-container {
  background: url("/static/images/website-background.webp") no-repeat top center, $main-bg-color;
}

.no-webp .site-container {
  background: url("/static/images/website-background.jpg") no-repeat top center, $main-bg-color;
}

.content-container {
  overflow: auto;
  background: #FFF;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1000px;
  min-height: 800px;
  width: 100%;

  > * {
    height: min-content;
  }

  @media screen and (max-width: $breakpoint) {
    padding: 0;
  }
}

.state-covid-header {
  background-color: #fde6a9;
  display: flex;
  flex-wrap: wrap;

  > div:first-child {
    font-size: 1em;
    font-weight: 700;
    text-align: right;
    width: 25%;

    @media screen and (max-width: 900px) {
      text-align: left;
      width: 100%;
      
      br {
        display: none;
      }
    }
  }

  > div:nth-child(2) {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    width: 49%;

    > div {
      > :first-child {
        color: #930606;
      }
      > :last-child {
        font-size: 0.75em;
        padding-top: 0.5em;
      }
    }

    @media screen and (max-width: 900px) {
      border: 0;
      width: 100%;
    }
  }

  > div:last-child {
    font-size: 0.75em;
    width: 25%;

    img {
      max-width: 350px;
      width: 100%;
    }
    span {
      color: #930606;
    }
    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }

  > div > div {
    padding: 10px;
  }
}
