.header {
  background-color: var(--header-bg-color);
  min-width: 1020px;
  padding: 21px 0 10px 0;
}

.header-container {
  height: 116px;
  margin: auto;
  width: 1000px;
}

.header-right {
  float: right;
  height: 100%;
  position: relative;
  width: 497px;
}

.header-search {
  float: right;
}

.header-right-links {
  bottom: 5px;
  color: #CCC;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  div {
    display: inline;
    font-size: 110%;
    margin: 0 5px;
  }
}
