.header {
  background-color: $header-bg-color;
  width: 100%;
}

.header-container {
  align-items: flex-end;
  background-color: $header-bg-color;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1000px;
  width: 100%;

  @media screen and (max-width: $breakpoint) {
    align-items: flex-start;
  }
}

.header-logo {
  width: 100%;
}

.header-left {
  width: 50%;
  @media screen and (max-width: $breakpoint) {
    width: 90%;
  }
}

.header-right {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  width: 50%;
  @media screen and (max-width: $breakpoint) {
    margin-top: 25px;
    width: 10%;
  }
  > * {
    margin-bottom: 5px;
    padding-right: 5px;
  }
}

.header-right-links {
  color: #CCC;
  text-transform: uppercase;
  
  a {
    color: inherit;
    font-size: 1.1em;
    text-decoration: none;
  }
}

.header-small {
  display: block;
  @media screen and (min-width: calc(#{$breakpoint} + 1px)) {
    display: none;
  }
}

.header-large {
  display: block;
  @media screen and (max-width: $breakpoint) {
    display: none;
  }

  .header-search {
    margin-bottom: 1em;
  }

  > * {
    text-align: right;
  }
}