.homepage-address {
  color: #767676;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.homepage-top-links, .homepage-bottom-links {
  color: #036;
  font-size: 150%;
  text-transform: uppercase;
  
  a {
    color: inherit;
    display: block;
    padding: 12px 0;
    text-decoration: none;
  }
  
  a:not(:last-child) {
    border-bottom: 1px solid #036;
  }
}

.homepage-top-links {
  float: left;
  text-align: right;
  width: 414px;
}

.homepage-images {
  float: right;
  height: 300px;
  margin-bottom: 20px;
  width: 560px;
}

.homepage-bottom-left {
  float: left;
  width: 570px;
}

.homepage-bottom-left-button {
  height: 206px;
  padding: 0 5px;
  width: 271px;
}

.homepage-bottom-calendar {
  float: right;
  padding: 12px;
}

.homepage-bottom-links {
  border: 1px solid #444;
  float: left;
  font-size: 100%;
  margin: 10px 7px 0 5px;
  padding: 5px;
  width: 260px;
}

.homepage-calendar-button {
  float: right;
  margin: 0 13px 13px;
}

.homepage-news-and-updates-section {
  border: 1px solid #444;
  float: left;
  margin: 10px 7px 0 5px;
  padding: 5px;
  width: 260px;
  
  > div:first-child {
    color: #700;
    font-size: 130%;
    font-weight: 700;
  }
  
  > div:last-child {
  	> a {
      color: #700;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
