.homepage-address {
  color: $main-gray;
  margin: 7px 0 17px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  @media screen and (max-width: $breakpoint) {
    font-size: 3.5vw;
  }
}

.homepage-address-mobile-break {
  display: inline;
  @media screen and (max-width: $breakpoint) {
    display: block;
    height: 5px;
    visibility: hidden;
  }
}

.homepage-alerts {
  align-items: center;
  background-color: #700;
  color: white;
  display: flex;
  flex-wrap: wrap;

  img {
    padding-left: 15px;
    width: 100%;
  }

  > :nth-child(1) {
    width: 15%;
    @media screen and (max-width: $breakpoint) {
      width: 6%;
    }
  }

  > :nth-child(2) {
    width: 85%;
    @media screen and (max-width: $breakpoint) {
      padding-left: 10px;
    }
  }
}

.homepage-top-links {
  color: $main-dark-blue;
  text-transform: uppercase;
  
  a {
    color: inherit;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  a:not(:last-child) {
    border-bottom: 1px solid #AAA;
  }
}

.homepage-left {
  width: 40%;
  > * {
    width: 98%;
    @media screen and (max-width: $breakpoint) {
      width: 100%;
    }
  }
  @media screen and (max-width: $breakpoint) {
    width: 100%;
  }
  iframe {
    width: 100%;
  }
}

.homepage-right {
  width: 60%;
  @media screen and (max-width: $breakpoint) {
    width: 100%;
  }
}

.homepage-top-links {
  text-align: right;
  font-size: 1.3em;

  @media screen and (max-width: $breakpoint) {
    font-size: 1em;
    text-align: left;
  }

  > a {
    margin: 0 5px;
  }
}

.homepage-bottom-links {
  text-align: left;
}

.homepage-link-buttons {
  display: flex;
  flex-wrap: wrap;
  div {
    width: 100%;
    img {
      //padding: 2px;
      width: 100%;
    }
  }
  div.half-width {
    width: 50%;
  }
}

.homepage-images {
  margin-bottom: 20px;

  img {
    width: 100%;
  }
}

.homepage-images-hidden {
  visibility: hidden;
}

.homepage-calendar {
  @media screen and (max-width: $breakpoint) {
    display: none;
  }
}

.homepage-calendar-button {
  img {
    width: 100%;
  }
}

.homepage-twitter {
  width: 100%;
}