.page-content {
  line-height: 1.6;
  margin: 35px;
  
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

.page-contact-info {
  color: #767676;
  font-size: 150%;
  margin-bottom: 35px;
  text-align: right;
}

.page-title {
  color: #767676;
  font-size: 150%;
  line-height: 1.2;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.page-title-name {
  color: var(--main-dark-blue);
  font-weight: 900;
}

.page-location {
  font-size: 75%;
  margin-bottom: 35px;
}

.page-people {
  color: #767676;
  font-size: 112.5%;
  line-height: 1.4;
  margin-bottom: 35px;
}

.page-link-bar {
  color: var(--main-dark-blue);
  font-size: 150%;
  text-align: center;
  text-transform: uppercase;
}

.page-link-bar {
  a {
    color: inherit;
    text-decoration: none;
  }
  > div {
    display: inline;
    margin: 0 8px;
  }
}

.page-right {
  float: right;
  line-height: 1.2;
  margin-left: 25px;
}

.page-description {
  line-height: 1.5;
  
  > div {
  	margin-bottom: 20px;
  }
}

.page-gradient-box {
  background-color: #DDD;
  background-image: linear-gradient(#EEE, #CCC);
  color: var(--main-dark-blue);
  font-size: 125%;
  line-height: 1;
  margin-bottom: 15px;
  padding: 10px;
  text-transform: uppercase;
  width: 350px;
  
  a {
    color: inherit;
    text-decoration: none;
  }
  > div {
    padding: 15px 0;
  }
  > div:not(:last-child) {
    border-bottom: 1px solid #FFF;
  } 
}

.page-news-and-updates {
  border: 1px solid #767676;
  min-height: 400px;
  padding: 12px 12px 24px 12px;
  position: relative;
  width: 344px;
  
  > div:first-child, > div:last-child {
    color: #700;
    font-size: 150%;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  > div:last-child {
    bottom: 12px;
    font-size: 100%;
    position: absolute;
    
    a {
      color: inherit;
      text-decoration: inherit;
    }
  }
}

.page-post-link {
  align-items: center;
  display: flex;
  padding: 8px 5px;
}

.page-post-icon {
  height: 50px;
  margin-right: 5px;
  min-height: 50px;
  min-width: 75px;
  width: 75px;
}

.page-post-links > div:not(:last-child) {
  border-bottom: 1px solid #700;
}
