.blog-container {
  margin: 30px;
  width: 100%;
}

.blog-content {
  line-height: 1.5;
}

.blog-icon {
  float: right;
  height: 99px;
  width: 150px;
}

.blog-title {
  color: $main-dark-blue;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

.blog-date {
  color: $main-gray;
  text-transform: uppercase;
}
