.homepage-meetings-and-events {
  border-color: $rutherford-red;

  .card-body {
    padding: .5rem;
  }

  a {
    color: $rutherford-red;
    text-decoration: none;
  }
}

.homepage-quick-links {
  a {
    color: $rutherford-almost-black;
  }
}

.homepage-navbar {
  background-color: $rutherford-blue;

  a {
    color: rgba(255, 255, 255, .55);
    font-weight: bold;
    text-decoration: none;
    transition: 0.15s;
  }

  a:hover {
    color: rgba(255, 255, 255, .75);
  }
}