.homepage-meetings-and-events {
  border-color: $rutherford-red;

  a {
    color: $rutherford-red;
    text-decoration: none;
  }
}

.homepage-quick-links {
  a {
    color: $rutherford-almost-black;
    text-decoration: none;
  }
}

.homepage-navbar {
  background-color: $rutherford-green;
  color: $rutherford-cream;

  a {
    color: $rutherford-cream;
    text-decoration: none;
  }
}