#carouselImageButtons button {
  width: 6%;
}

.homepage-button {
  .card-body {
    padding: .5rem;
  }

  a {
    text-decoration: none;
  }
}

.homepage-borough-calendar {
  border-color: $rutherford-red;

  a {
    color: $rutherford-red;
  }
}

.homepage-upcoming-events {
  border-color: $rutherford-blue;

  a {
    color: $rutherford-blue;
  }
}

.homepage-online-tax-payments {
  border-color: $rutherford-green;

  a {
    color: $rutherford-green;
  }
}

.homepage-quick-links {
  a {
    color: $rutherford-almost-black;
  }
}

.homepage-navbar {
  background-color: $rutherford-blue;

  a {
    color: rgba(255, 255, 255, .55);
    font-weight: bold;
    text-decoration: none;
    transition: 0.15s;
  }

  a:hover {
    color: rgba(255, 255, 255, .75);
  }
}