---
layout: page
title: 'Borough Clerk'
---

<div class="department-title">
  <h1>Office of Borough Clerk</h1>
  <h2>
    Located in Borough Hall<br>
    176 Park Avenue, Main Level
  </h2>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card mb-4 department-card">
      <h5 class="card-header">Contact Info</h5>
      <div class="card-body">
        <p class="card-text">
          phone: 201-460-3001<br>
          fax: 201-460-3003<br>
          mscanlon@rutherfordboronj.com
        </p>
        <p class="card-text">
          Hours<br>
          8:30–4:30
        </p>
        <p class="card-text">
          <span class="fw-bold">Department Head:</span> Margaret (Missy) Scanlon, RMC<br>
          Kelly Adamcik<br>
          Sharon Conte
        </p>
      </div>
    </div>

    {% include department_links.html links=site.data.links.departments.borough-clerk %}

    {% include news.html name="Borough Clerk" posts=site.categories.borough-clerk %}
  </div>

  <div class="col-md-8">
    <div class="card mb-4">
      <div class="card-body">
        <p class="card-text">
          The Borough Clerk is appointed by the Mayor and Council to the position as a statutory requirement outlined
          in NJSA 40A:9-133. The Clerk serves as the Secretary to the Governing Body, prepares the meeting agendas,
          records the minutes of the Council meetings, processes resolutions and ordinances adopted by the Council
          in accordance with State statutes and is the custodian of the municipal seal affixing it to all papers
          and documents according to law. The Clerk maintains custody of all minutes, books, bonds and contracts.
        </p>
        <p class="card-text">
          The Clerk’s Office is responsible for providing an array of services to the Residents,
          the Governing Body and Borough Employees. The Clerk is the Election Official for the Borough;
          provides voter registration applications, issues and receives nominating petitions for Borough
          elective offices and conducts local elections.
        </p>
        <p class="card-text">
          In addition to the statutory requirements, the Clerk’s Office issues a variety of permits and
          licenses: parking lot permits, dumpster/POD permits, limousine and taxi licenses, alcohol licenses,
          raffle licenses, film permits, garage sale registrations, block party requests, solicitor permits,
          street opening permits and towing licenses.
        </p>
      </div>
    </div>
  </div>
</div>
