---
layout: page
title: 'Recreation Department'
---

<div class="department-title">
  <h1>Department of Recreation</h1>
  <h2>
    Located in Borough Hall<br>
    176 Park Avenue, Lower Level
  </h2>
</div>

<div class="row">
  <div class="col">
    <div class="alert alert-warning text-center" role="alert">
      <strong><a href="https://rutherfordnj.recdesk.com/Community/Home">Register for programs using RecDesk</a></strong>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card mb-4 department-card">
      <h5 class="card-header">Contact Info</h5>
      <div class="card-body">
        <p class="card-text">
          phone: 201-460-3015<br>
          fax: 201-460-3018<br>
          recstaff@rutherfordboronj.com
        </p>
        <p class="card-text fw-bold">
          Weather &amp; Event Hotline:<br>
          Follow Us on Twitter: <a href="https://twitter.com/RutherfordRec">@RutherfordRec</a>
        </p>
        <p class="card-text">
          Hours<br>
          8:30–4:30
        </p>
        <p class="card-text">
          Department Head: Patrick Bonner, Jr.<br>
          Maureen Bigley<br>
          Janice Guzmán
        </p>
      </div>
    </div>

    {% include department_links.html links=site.data.links.departments.recreation %}
    {% include news.html name="Recreation" posts=site.categories.recreation %}
  </div>

  <div class="col-md-8">
    <div class="card mb-4">
      <div class="card-body">
        <p class="card-text">
          <a
            href="https://storage.googleapis.com/static.rutherford-nj.com/recreation/Memorial%20Park%20Field%20Locations.pdf"><strong>Rutherford
              Field Map</strong></a>
        </p>
        <p class="card-text">
          The Rutherford Recreation Department is committed to providing our residents both the young and
          young-at-heart, with programs that foster a sense of community, sportsmanship and well-being.
        </p>
        <p class="card-text">
          Follow our Twitter feed below for updates regarding park, facility and gym closings.
        </p>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-body">{% include twitter.html username="RutherfordRec" %}</div>
    </div>
  </div>
</div>
