---
---
$breakpoint: 600px;
$header-bg-color: #0F3B66;
$main-bg-color: #040000;
$main-dark-blue: #036;
$main-gray: #767676;

{% include_relative css/core.scss %}
{% include_relative css/calendars.scss %}
{% include_relative css/header.scss %}
{% include_relative css/homepage.scss %}
{% include_relative css/page.scss %}
{% include_relative css/interior-page.scss %}
{% include_relative css/recreation.scss %}
{% include_relative css/hover-table.scss %}
{% include_relative css/blog.scss %}
{% include_relative css/departments.scss %}
{% include_relative css/social-media.scss %}
{% include_relative css/notifications.scss %}
{% include_relative css/minutes-and-agendas.scss %}
{% include_relative css/gcs-file-list.scss %}
{% include_relative css/mayor-and-council.scss %}
{% include_relative css/menu-toggle.scss %}
{% include_relative css/census.scss %}
{% include_relative css/building-permits.scss %}
{% include_relative css/covid-charts.scss %}
