---
---

$breakpoint: 768px;

$rutherford-almost-black: #111921;
$rutherford-blue: #12284b;
$rutherford-cream: #fffdeb;
$rutherford-green: #6c702f;
$rutherford-dark-gray: #a7a8aa;
$rutherford-light-gray: #c7c7c7;
$rutherford-red: #9f3e34;

$alert-margin-bottom: 0;

@import "building-permits.scss";
@import "calendars.scss";
@import "committees.scss";
@import "covid-charts.scss";
@import "departments.scss";
@import "government.scss";
@import "homepage.scss";
@import "mailchimp.scss";
@import "navbar.scss";
@import "notifications.scss";
@import "page.scss";
@import "core.scss";
