---
layout: default
section: blog
---
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<style>
  .blog-container {
    margin: 30px;
  }
  .blog-content {
    line-height: 1.5;
    width: 70%;
  }
  .blog-icon {
    float: right;
    height: 99px;
    width: 150px;
  }
  .blog-title {
    color: #036;
    font-size: 250%;
    font-weight: 700;
    text-transform: uppercase;
  }
  .blog-date {
    color: #767676;
    text-transform: uppercase;
  }
</style>

<div class="blog-container">
  {% for category in page.categories %}
    {% if category != 'departments' %}
      <div class="blog-icon" style="background-image: url(../../../../icon.png)"></div>
    {% endif %}
  {% endfor %}
  <div class="blog-content">
    <h3><a href="../../../../">Return to Department Homepage</a></h3>
    <div class="blog-title">{{page.title}}</div>
    <div class="blog-date">Posted {{page.date | date:"%A %B %-d, %Y"}}</div>
    <div class="fb-share-button" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u&amp;src=sdkpreparse">Share</a></div>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    {{content}}
  </div>
</div>
