---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% if page.title and page.title != '07070' %}{{page.title | escape}} | {% endif %}The Borough of Rutherford, New Jersey</title>
  <meta charset='UTF-8'/>
  <meta name="theme-color" content="#036">
  <meta property="og:image" content="http://www.rutherford-nj.com/static/images/borough-logo.jpg" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <link href="/static/site.css" rel="stylesheet" type="text/css" />
  <link href="/static/slick/slick.css" rel="stylesheet" type="text/css" />
  <link href="/static/slick/slick-theme.css" rel="stylesheet" type="text/css" />
  <link href='//fonts.googleapis.com/css?family=Roboto:400,700,900' rel='stylesheet' type='text/css' />
  <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WJ2VPD"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WJ2VPD');</script>
  <!-- End Google Tag Manager -->
  <div class="header">
    <div class="header-container">
      <a href="/">
        <img src="/static/images/borough-logo.jpg" alt="Borough Logo" />
      </a>
      <div class="header-right">
        <div class="header-search">
          <input type="search" aria-label="Search" placeholder="Search the site..." id="search_box">
          <input type="button" value="Search" id="search_button">
        </div>
        <div class="homepage-header-right">
          <div><a href="/committees/" style="color: #767676">Committees</a></div>
          <div>|</div>
          <div><a href="/departments/" style="color: #767676">Departments</a></div>
          <div>|</div>
          <div id="contact-link"><a href="/contacts/">Contacts</a></div>
        </div>
      </div>
    </div>
  </div>
  <div id="dynamic-field" class="dynamic-message-hidden"></div>
  <div class='site-container'>
    <div class='content-container'>
      {{content}}
    </div>
  </div>
  <div id="09c8e5e290dea387fb2496197d117667b73012ff"></div>
  <script src="/static/site.js"></script>
  <script>
    if (!window['09c8e5e290dea387fb2496197d117667b73012ff']) {
      document.location.reload(true);
    }
  </script>
</body>
