---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% if page.title and page.title != '07070' %}{{page.title | escape}} | {% endif %}The Borough of Rutherford, New Jersey</title>
  <meta charset='UTF-8'/>
  <meta name="theme-color" content="#036">
  <meta property="og:image" content="https://www.rutherfordboronj.com/static/images/boroughfacebookicon.jpg" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <link href="/static/site.css?zx={{ "now" | date: "%s" }}" rel="stylesheet" type="text/css" />
  <link href='//fonts.googleapis.com/css?family=Roboto:400,700,900' rel='stylesheet' type='text/css' />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WJ2VPD"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WJ2VPD');</script>
  <!-- End Google Tag Manager -->
  <div class="header">
    <div class="header-container">
      <h1>
        <a href="/">
          <img src="/static/images/borough-logo.png" alt="Borough Logo" />
        </a>
      </h1>
      <div class="header-right">
        <div class="header-search">
          <input type="search" aria-label="Search" placeholder="Search the site..." id="search_box">
          <input type="button" value="Search" id="search_button">
        </div>
        <div class="homepage-header-right">
          <div><a href="/committees/" style="color: #CCC">Committees</a></div>
          <div>|</div>
          <div><a href="/departments/" style="color: #CCC">Departments</a></div>
          <div>|</div>
          <div><a href="/government/mayor-council/" style="color: #CCC">Elected Officials</a></div>
        </div>
      </div>
    </div>
    <div class="header-transition"></div>
  </div>
  <div id="dynamic-field" class="dynamic-message-hidden"></div>
  <div class='site-container'>
    <div class='content-container'>
      {{content}}
    </div>
  </div>
  <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
  <script src="/static/site.js?zx={{ "now" | date: "%s" }}"></script>
</body>
