---
layout: page
index: true
---

{% if page.parent %}
<nav aria-label="breadcrumb" class="mt-2">
  <ol class="breadcrumb">
    {% if page.grandparent %}
    <li class="breadcrumb-item"><a href="{{ page.grandparent_url | default: '../../' }}">{{ page.grandparent | escape }}</a></li>
    {% endif %}
    <li class="breadcrumb-item"><a href="{{ page.parent_url | default: '../' }}">{{ page.parent | escape }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ page.title | escape }}
    </li>
  </ol>
</nav>
{% endif %}

<div class="card mb-4">
  <div class="card-body">
    {{content}}
  </div>
</div>
