---
layout: default
index: true
---

{% comment %}
path_components ends up being an array like ["", "departments", "borough-clerk"]
{% endcomment %}
{% assign path_components = page.url | split: "/" %}

{% if path_components.size > 2 %}
  {% if path_components[1] == "departments" %}
  {% comment %} this is how we'll do department-specific ones
  <div class="container-fluid">
    {{ path_components[2] }}<br>
    we're going to put a beautiful banner here<br>
    it'll be the best<br>
    just you wait and see
  </div>
  {% endcomment %}
  <div data-proofer-ignore class="w-100">
    <img class="img-fluid" alt="" src="/static/images/header_2000x300.jpg">
  </div>
  {% endif %}
{% endif %}

<div class="container my-4">
  {{content}}
</div>
